<mat-card>
  <h2>User info</h2>
</mat-card>
<mat-card class="user-info-wrapper" *ngIf="data && !showLoader">
  <mat-card-header>
    <mat-card-title>
      <h2>{{ data.handle }}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="content">
      <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Info">
          <div class="user-info-tab">
            <section>
              <img [src]="data.avatar" alt="">
            </section>
            <section>
              <span *ngIf="data.firstName">Name: {{ data.firstName }} {{ data.lastName }}</span>
              <span *ngIf="data.country">Country: {{ data.country }}</span>
              <span *ngIf="data.city">City: {{ data.city }}</span>
              <span *ngIf="data.organization">Organization: {{ data.organization }}</span>
              <span *ngIf="data.rating">Rating: {{ data.rating }}</span>
              <span *ngIf="data.maxRating">Max rating: {{ data.maxRating }}</span>
              <span *ngIf="data.rank">Rank: {{ data.rank }}</span>
              <span *ngIf="data.maxRank">Max rank: {{ data.maxRank }}</span>
            </section>
          </div>
        </mat-tab>
        <mat-tab label="Friends">
          <span>Friends: {{ data.friendOfCount }}</span>
        </mat-tab>
        <mat-tab label="Contests">
          <section *ngIf="showContests">
            <mat-list *ngIf="rating.length > 0">
              <mat-list-item *ngFor="let item of rating; let i = index;">
                <div class="rating-item">
                  <span>
                    {{ i }}. Name:
                    <a href="http://codeforces.com/contest/{{ item.contestId }}" target="_blank">
                      {{ item.contestName }}
                    </a>
                  </span>
                  <span>Rank: {{ item.rank }}</span>
                </div>
              </mat-list-item>
            </mat-list>
            <div *ngIf="rating.length == 0">
              No contests
            </div>
          </section>
          <section *ngIf="!showContests">
            <mat-spinner></mat-spinner>
          </section>
        </mat-tab>
        <mat-tab label="Blog">
          <section *ngIf="showBlog">
            <mat-list *ngIf="blog.length > 0">
              <mat-list-item *ngFor="let item of blog; let i = index;">
                <div>
                  <span>
                    {{ i }}.
                    <a href="http://codeforces.com/blog/entry/{{ item.id }}" target="_blank">{{ item.title }}</a>
                  </span>
                </div>
              </mat-list-item>
            </mat-list>
            <div *ngIf="blog.length == 0">
              No blog
            </div>
          </section>
          <section *ngIf="!showBlog">
            <mat-spinner></mat-spinner>
          </section>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card-content>
  <mat-card-actions id="user-info-actions">
    <div>
      <button mat-flat-button (click)="getStatus()">Get status info</button>
      <button mat-button (click)="openSnackBar('Good evening! How do you do?', 'I\'m fine')" aria-label="Show an example snack-bar">Show message</button>
    </div>
    <div>
      <button mat-flat-button color="warn" *ngIf="showStatus" (click)="openDialog('type')">Solved tasks by type</button>
      <button mat-flat-button color="warn" *ngIf="showStatus" (click)="openDialog('language')">Solved tasks by programming language</button>
    </div>
  </mat-card-actions>
</mat-card>

<div *ngIf="showStatus" class="user-status-items">
  <mat-paginator
    class="pagination"
    [length]="status.length"
    [pageSize]="12"
    (page)="pageEvent = setPage($event)">
  </mat-paginator>
  <!--<div *ngFor="let item of statusPage">
    <app-user-status [data]="item"></app-user-status>
  </div>-->

  <table mat-table [dataSource]="statusPage" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element"> {{ element.id }} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{ element.problem.name }} </td>
    </ng-container>

    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef> Contest id (index) </th>
      <td mat-cell *matCellDef="let element"> {{ element.problem.contestId + element.problem.index }} </td>
    </ng-container>

    <ng-container matColumnDef="attempts">
      <th mat-header-cell *matHeaderCellDef> Attempts </th>
      <td mat-cell *matCellDef="let element"> {{ element.attempts.length + 1 }} </td>
    </ng-container>

    <ng-container matColumnDef="verdict">
      <th mat-header-cell *matHeaderCellDef> Verdict </th>
      <td mat-cell *matCellDef="let element"> {{ element.verdict }} </td>
    </ng-container>

    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef> Language </th>
      <td mat-cell *matCellDef="let element"> {{ element.programmingLanguage }} </td>
    </ng-container>

    <ng-container matColumnDef="tags">
      <th mat-header-cell *matHeaderCellDef> Tags </th>
      <td mat-cell *matCellDef="let element">
        <mat-chip-list>
          <mat-chip *ngFor="let item of element.problem.tags">{{ item }}</mat-chip>
        </mat-chip-list>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedStatusColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedStatusColumns;"></tr>
  </table>

  <mat-accordion>

    <!--<div *ngFor="let item of statusPage">
      <app-user-status [data]="item"></app-user-status>
    </div>-->
    <!--<mat-expansion-panel *ngFor="let values of statusPage">
      <mat-expansion-panel-header class="expansion-header">
        <mat-panel-title>
          {{ values.problem.name }}
        </mat-panel-title>
        <mat-panel-description>
          {{ values.problem.contestId + values.problem.index }}
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <section>
        Time consumed: {{ values.timeConsumedMillis }}
      </section>

      <section *ngIf="values.verdict != 'OK'">
        <span>Passed test count: {{ values.passedTestCount }}</span>
      </section>

      <section class="user-status-actions">
        <mat-chip selected>{{ values.programmingLanguage }}</mat-chip>
        <mat-chip-list>
          <mat-chip *ngFor="let item of values.problem.tags">
            {{ item }}
          </mat-chip>
        </mat-chip-list>
      </section>
    </mat-expansion-panel>-->
      <!--<mat-form-field>
        <input matInput placeholder="Date" [matDatepicker]="picker" (focus)="picker.open()" readonly>
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">End</button>
      </mat-action-row>
    </mat-expansion-panel>-->

  </mat-accordion>
</div>

<div class="loader" *ngIf="showLoader">
  <mat-spinner></mat-spinner>
</div>
