<mat-card>
  <h2>User info</h2>
</mat-card>
<mat-card class="user-info-wrapper" *ngIf="data && !showLoader">
  <mat-card-header>
    <mat-card-title>
      <h2>{{ data.handle }}</h2>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="content">
      <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
        <mat-tab label="Info">
          <img [src]="data.avatar" alt="">
        </mat-tab>
        <mat-tab label="Friends">
          <span>Friends: {{ data.friendOfCount }}</span>
        </mat-tab>
      </mat-tab-group>
    </div>
  </mat-card-content>
  <mat-card-actions id="user-info-actions">
    <div>
      <button mat-flat-button (click)="getStatus()">Get status info</button>
      <button mat-button (click)="openSnackBar('Good evening! How do you do?', 'I\'m fine')" aria-label="Show an example snack-bar">Show message</button>
    </div>
    <div>
      <button mat-flat-button color="warn" *ngIf="showStatus" (click)="openDialog('type')">Solved tasks by type</button>
      <button mat-flat-button color="warn" *ngIf="showStatus" (click)="openDialog('language')">Solved tasks by programming language</button>
    </div>
  </mat-card-actions>
</mat-card>

<div class="user-status-items">
  <div *ngFor="let item of status">
    <app-user-status [data]="item"></app-user-status>
  </div>
</div>

<div class="loader" *ngIf="showLoader">
  <mat-spinner></mat-spinner>
</div>
