.content {
  display: flex;
  min-height: 200px;
}

.content > div:not(:last-child) {
  margin-right: 10px;
}

.user-info-wrapper {
  margin-bottom: 10px;
}

.user-status-items {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  flex-wrap: wrap;
}

#user-info-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-info-actions > div > button:not(:last-child) {
  margin-right: 5px;
}
