.user-status-wrapper {
  min-width: 400px;
  max-width: 20vw;
  margin-bottom: 10px;
}

.user-status-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-status-header span {
  margin-right: 10px;
}

.user-status-content {
  padding: 16px;
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.user-status-content b {
  padding-right: 10px;
}

.user-status-content span {
  padding: 5px;
}

.user-status-actions {
  display: flex;
  justify-content: space-between;
}
