<!--<ul>
  <li>
    <a [routerLink]="''">
      <button mat-button>Main page</button>
    </a>
  </li>
  <li>
    <a [routerLink]="'contest'">
      <button mat-button>Contest list</button>
    </a>
  </li>
</ul>-->
<div id="container">
  <header id="header" role="heading">
    <app-top-menu></app-top-menu>
  </header>
  <main id="content">
    <router-outlet></router-outlet>
  </main>
  <footer id="footer">
    <section></section>
    <section id="version-info">
      <span>Current version: 0.2</span>
    </section>
    <section></section>
  </footer>
</div>

